.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.para{
  background-color: red;
  color: white;
  width: 1000px;
  padding:10px;
  text-align: center;
  margin: auto;
}
.activeMenu{
 left: 10%;
}
.menu{
  width: 100%;
  position: fixed;
  transition: 0.5s;
  text-align: left;
  right: -100%;
  
  list-style: none;
  height: 100vh;
  background-color: purple;
}

.menu ul li{
  list-style: none;
  padding: 10px 0px;
}

.micon{
  position:absolute;
  left:  10px;
}

.modelOverlay{
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.ModelDiv{
  width: 320px;
  height: 320px;
  background-color: white;
  position: fixed;
  left: 50%;
  top: -500%;
  transition: 0.3s;
  transform: translate(-50%,-50%);
}
.modelShow{
  display: block;
}

.showModelDiv{
  top: 50%;
}

.en{
  position: fixed;
  right: -30px;
  transform: rotate(90deg);
  top: 100px;
}

.closeModel{
  position: fixed;
  right: 10px;
}
.faqouter{
  width: 1320px;
  margin: auto;
}
.faqItems{

  border: 1px solid red;
  margin-bottom: 20px;
}
.faqItems h2{
  margin: 0px;
  padding: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  text-align: left;
}
.faqItems p{
  text-align: left;
  height: 0px;
  margin: 0px;
  transition: 0.3s;
  transform: scaleY(0);
  padding: 0px;
}
.activeAns{
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}